/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

button {
  outline: none;
  border: none;
}

body {
  background: rgb(58, 58, 58);
  font-family: 'Segoe UI', sans-serif;
}

/* Styles */

h1 {
  text-align: center;
  color: white;
  margin-top: 40px;
}

.btn-div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.btn-style {
  padding: 20px;
  height: 55px;
  width: 112px;
  text-transform: uppercase;
  background: white;
  transition: 0.2s;
}

/* <MAIN CODE> */

/* Button */
.btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

/* First Text */
.btn-submit {
  position: absolute;
  transition: 0.4s;
}

/* Animation for the first Text */
.btn-submit-moveUp {
  transform: translateY(-300%);
}

/* Second Text */
.btn-sending {
  position: absolute;
  display: block;
  transform: translateY(250%);
}

/* Animation for the second Text */
.btn-sending-animation {
  animation-name: btnSendingDownUp;
  animation-duration: 1350ms;
  animation-timing-function: cubic-bezier(.28, .68, .74, .17);
  animation-iteration-count: 1;
}

@keyframes btnSendingDownUp {
  from {
    transform: translateY(250%);
  }

  to {
    transform: translateY(-250%);
  }
}

/* Third Text */
.btn-send {
  position: absolute;
  display: block;
  transform: translateY(250%);
}

/* Animation for the first text */
.btn-done-animation {
  animation-name: btnSendUp;
  animation-duration: 700ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 1000ms;
}

@keyframes btnSendUp {
  0% {
    transform: translateY(250%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Third text visibility */
.btn-done-ready {
  transform: translateY(0%);
}

/* Third text removing class */
.btn-done-remover {
  animation-name: btnSendDown;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
/* Animation for the third text removing class */
@keyframes btnSendDown {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(250%);
  }
}